body{
    background-color: gray;
    
}

#ak{
    background-color: beige;
     text-align: center;
}
.flex{
    display: flex;
    margin: 2rem;
}
.flex img{
    margin-right: 2rem;
}
#img.active{
    background-image: url(./program.png);
    width: 150px;
}
